<div class="container">
  <h1>Raad het getal</h1> 

</div>

<div class="container">
  <div class="row">
      <div class="col-xs-12">
          <p>'Het gokcomponent'</p>
          <h2>Raad een getal tussen 1 en 100.</h2>
              <h4><i>Je nieuwe gok.</i></h4>
              <input type="text" [(ngModel)]="gokgetalString"> 
              <button (click)="nummerControle()" class="btn btn-primary"><strong>GOK</strong></button>
              <h6>Je nieuwe gok is {{gokgetalString}}</h6>
              <div>
                <h4 *ngIf="groterDan(gokgetalNumber, controleNummer)">Kies een lager nummer</h4>
                <h4 *ngIf="controle>0">Kies een hoger nummer</h4>
                <h4 *ngIf="controle===0">Goed gegokt!</h4> 
              </div>
             
              <p *ngIf="valideerGok(gokgetalString)">{{gokBoodschap}}</p>
              <h4>Nog {{beurten}} beurten resterend.</h4>
              <h5>{{randomNumber}}</h5>
      </div> 
  </div>
</div>


