<mat-card class="card">
<mat-card-title><h1>Raad het getal</h1></mat-card-title>

  <mat-card-content>
          <p>'Het gokcomponent'</p>
          <h2>Raad een getal tussen 1 en 100.</h2>
              <h4><i>Je nieuwe gok.</i></h4>
              <input type="number" color=ThemePalette [value]="gokgetalNumber" (input)="gokgetalNumber = $event.target.value" [ngModel] = "gokgetalNumber" >
   
              <h6>Je nieuwe gok is {{gokgetalNumber}}</h6>
              <div>
                <p *ngIf="controle<0">Kies een lager nummer</p>
                <p *ngIf="controle>0">Kies een hoger nummer</p>
                <p *ngIf="controle===0">Goed gegokt!</p> 
              </div>
             
              <mat-progress-bar
              class="slider"
              color= "accent"
              [mode]="mode"
              [value]="progressbarBeurten">
              </mat-progress-bar>             
           <p *ngIf="valideerGok(gokgetalNumber)">{{gokBoodschap}}</p>
              <h4>Nog {{beurten}} beurten resterend.</h4>

              <mat-card-actions>             
                <button mat-raised-button  color="accent" (click)="nummerControle()" ><strong>GOK</strong></button>
             </mat-card-actions>
  </mat-card-content>
</mat-card>

