<div class="container">
  <h1>Raad het getal</h1> 

</div>

<div class="container">
  <div class="row">
      <div class="col-xs-12">
          <p>'Het gokcomponent'</p>
          <h2>Raad een getal tussen 1 en 100.</h2>
              <h4><i>Je nieuwe gok.</i></h4>
              <input type="number" [value]="gokgetalNumber" (input)="gokgetalNumber = $event.target.value" [ngmodel] = "gokgetalNumber" >
              <button (click)="nummerControle()" class="btn btn-primary"><strong>GOK</strong></button>
              <h6>Je nieuwe gok is {{gokgetalNumber}}</h6>
              <div>
                <p *ngIf="controle<0">Kies een lager nummer</p>
                <p *ngIf="controle>0">Kies een hoger nummer</p>
                <p *ngIf="controle===0">Goed gegokt!</p> 
              </div>
             
              <p *ngIf="valideerGok(gokgetalNumber)">{{gokBoodschap}}</p>
              <h4>Nog {{beurten}} beurten resterend.</h4>

      </div> 
  </div>
</div>


